@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.blur-tab {
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(2.5px);
}

.service::before {
    content: '';
    background: url(../src/images/before_service.png) repeat-x;
    height: 26px;
    display: block;
    position: absolute;
    width: 100%;
    top: -26px;
    left: 0;
}

.service::after {
    content: '';
    background: url(../src/images/after_service.png) repeat-x;
    height: 26px;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -26px;
    left: 0;
}

.bg-transparent {
    background-color: transparent;
}

.datepicker-container {
    width: 40%;
    /* Điều chỉnh width của DatePicker là 40% */
}

.book .react-datepicker {
    background-color: var(--bg-sub-main);
    /* Đồng bộ màu nền với lớp bg-sub-main */
    border: none;
    width: 30%;
    /* Đảm bảo DatePicker lấp đầy div cha */
    font-family: 'Arial', sans-serif;
}

.book .react-datepicker__header {
    background-color: var(--bg-sub-main);
    /* Đồng bộ màu nền với lớp bg-sub-main */
    border-bottom: none;
}

.book .react-datepicker__current-month,
.book .react-datepicker__day-name,
.book .react-datepicker__day {
    color: black;
    /* Màu chữ là màu trắng */
}

.book .react-datepicker__day:hover {
    background-color: #333;
}

.book .react-datepicker__day--today {
    border: 1px solid #ff6600;
    /* Viền nổi bật cho ngày hôm nay */
}

.book .react-datepicker__day--selected {
    background-color: #ff6600;
    /* Màu nền cho ngày được chọn */
}

.book .react-datepicker__navigation--previous .react-datepicker__navigation-icon::before,
.book .react-datepicker__navigation--next .react-datepicker__navigation-icon::before {
    border-color: black;
}

.book .react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
    top: 20px;
    background-color: transparent;
    border: none;
}

/* Tạo khoảng cách giữa các phần tử trong flex */


.react-datepicker-wrapper {
    width: 100%;
    cursor: pointer;
}

.book .react-datepicker__day--sunday {
    text-decoration: line-through;
    color: red;
    /* Màu chữ đỏ cho ngày Chủ nhật */
    opacity: 0.6;
    /* Làm mờ các ngày Chủ nhật */
}